{% extends 'layout.html' %}

{% block head %}
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/persian-datepicker.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="left-panel">
            <!-- Date Stats -->
            {#            <h2>Date Stats</h2>#}
            <div class="date-stats">
                <p><strong>Sessions Duration:</strong> <span id="sessions-duration" class="primary"></span></p>
                <p><strong>Date Duration:</strong> <span id="date-duration" class="primary"></span></p>
            </div>
            <!-- Horizontal Timeline -->
            <h3>Timeline</h3>
            <div class="timeline">
                <div class="timeline-line"></div>
                <div class="timeline-events"></div>
                <div class="timeline-guides"></div>
                <div class="tooltip"></div>
            </div>

            <!-- Apps Table -->
            <h3>Apps</h3>
            <table id="apps-table" class="table">
                <thead>
                <tr>
                    <th>Row</th>
                    <th>App ID</th>
                    <th>App Name</th>
                    <th>Duration</th>
                    <th>Date Duration</th>
                </tr>
                </thead>
                <tbody id="apps-table-body">
                <!-- Apps table content will be populated dynamically -->
                </tbody>
            </table>
            <!-- Sessions Table -->
            <h3>Sessions</h3>
            <table id="sessions-table" class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>App ID</th>
                    <th>App Name</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Duration</th>
                    <th>Scan Time</th>
                    <th>Code</th>
                </tr>
                </thead>
                <tbody id="sessions-table-body">
                <!-- Sessions table content will be populated dynamically -->
                </tbody>
            </table>
        </div>
        <div class="right-panel">
            <!-- Solar Hijri Calendar -->
            <h2><label for="datepicker">Select Date</label></h2>
            <div class="input-wrapper">
                <input type="text" id="datepicker" placeholder="Select Date" readonly>
            </div>
            <div class="button-wrapper">
{#                <a href="/scheduler" class="button">Create Scheduling Task</a>#}
                <a href="/scan" class="button">Scan Manually</a>
            </div>
        </div>

    </div>
    <!-- Include JavaScript scripts -->
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/persian-date.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
{% endblock %}