{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="left-panel">
            <!-- Date Stats -->
            <div class="date-stats">
                <h2>Date Stats</h2>
                <p>Sessions Duration: <span id="sessions-duration"></span></p>
                <p>Date Duration: <span id="date-duration"></span></p>
            </div>
            <!-- Horizontal Timeline -->
            <div class="left-panel-timeline">
                <h2>Timeline</h2>
                <div class="timeline">
                    <div class="timeline-line"></div>
                    <div class="timeline-guides"></div>
                    <div class="timeline-events"></div>
                </div>
            </div>
            <!-- Apps Table -->
            <h2>Apps</h2>
            <table id="apps-table">
                <thead>
                    <tr>
                        <th>Row</th>
                        <th>App ID</th>
                        <th>App Name</th>
                        <th>Duration</th>
                        <th>Date Duration</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Apps table content will be populated dynamically -->
                </tbody>
            </table>
            <!-- Sessions Table -->
            <h2>Sessions</h2>
            <table id="sessions-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>App ID</th>
                        <th>App Name</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Duration</th>
                        <th>Scan Time</th>
                        <th>Code</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Sessions table content will be populated dynamically -->
                </tbody>
            </table>
        </div>
        <div class="right-panel">
            <!-- Solar Hijri Calendar -->
            <div id="solar-hijri-calendar">
                <!-- Calendar content will be populated dynamically -->
            </div>
        </div>
    </div>
    <!-- Include JavaScript scripts -->
{#    TODO: don't use CDN#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    <a href="/scan">Scan Manually</a>
    <a href="/scheduler">Create Scheduling Task</a>
{% endblock %}